body {
    padding: 30px;
    background-color: rgb(255, 252, 238);
    color: black; 
  }

  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
  }

  p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center; 
    padding: 10px 70px;
  }

  .dark-mode {
    background-color: rgb(44, 44, 44);
    color: white;
  }

  .light-mode {
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 1);
  }

  button {
    border-radius: 6px; 
    background-color: #ffefef; 
    border: 1px solid rgb(163, 63, 63);
    color: rgb(163, 63, 63);
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
  }
